<% provide(:title,"About")%>


<h3 class="card-text">
  使い方
</h3>

<div class="box1">
  <div class="portfolio-title">Step 1</div>
  <div class="portfolio-border"></div>
  <div class="portfolio-text">
    <div class="leftbar">
      <div class="image-box">画像</div>
    </div>
    <div class="rightbar">
      <div class="">                <br>
        <div class="vision-title">
          <strong>学習したいコースを選択します</strong>
        </div>
        <div class="vision-text">

          <br>
          自分のペースで進められる研修です。
          <br>
          <br>
          興味のあるものから始めるもよし<br>
          順番にやるもよし<br>
          時間のかからないものからやるもよし<br>
          <br>
          入社までに計画的に研修を行ってください。
        </div>
        <br>
      </div>
    </div>
  </div>
</div>


<div class="box2">
  <div class="portfolio-title">Step 2</div>
  <div class="portfolio-border"></div>
  <div class="portfolio-text">
    <div class="leftbar">
      <div class="image-box"></div>
    </div>
    <div class="rightbar">
      <div class="">                <br>
        <div class="vision-title">
          <strong>ああああ</strong>
        </div>
        <div class="vision-text">

          <br>
          あああああああああああ。
          <br>
          <br>
          あああああ<br>
          「」<br>
          「」
          <br>
          <br>
          あああ。
          </div>
          <br>
      </div>
    </div>
  </div>
</div>
<div class="box1">
  <div class="portfolio-title">Step 3</div>
  <div class="portfolio-border"></div>
  <div class="portfolio-text">
    <div class="leftbar">
      <div class="image-box"></div>
    </div>
    <div class="rightbar">
      <div class="">                <br>
        <div class="vision-title">
          <strong>あああ</strong>
        </div>
        <div class="vision-text">

          <br>
          あああああ。
          <br>
          <br>
          「ああああああ。」<br>
          「ああああああ」<br>
          「あああああああ」
          <br>
          <br>
          ああああああああ。
          </div>
          <br>
      </div>
    </div>
  </div>
</div>



