<% provide(:title,"About")%>


<h3 class="card-text">
  使い方
</h3>
<div class="box1">
  <div class="col-md-6">
    sss
  </div>
  <div class="col-md-6">
    sss
  </div>
</div>
<div class="box2">
  <div class="col-md-6">
  </div>
  <div class="col-md-6">
  </div>
</div>
<div class="box1">
  <div class="col-md-6">
  </div>
  <div class="col-md-6">
  </div>
</div>


