<% provide(:title,"About")%>


<h3 class="card-text">
  使い方
</h3>

<div class="box1">
  <div class="portfolio-title">Step 1</div>
  <div class="portfolio-border"></div>
  <div class="portfolio-text">
    <div class="leftbar">
      <div class="image-box1"></div>
    </div>
    <div class="rightbar">
      <div class="">                <br>
        <div class="vision-title">
          <strong>学習したいコースを選択します</strong>
        </div>
        <div class="vision-text">

          <br>
          自分のペースで進められる研修です。
          <br>
          <br>
          興味のあるものから始めるもよし<br>
          順番にやるもよし<br>
          時間のかからないものからやるもよし<br>
          <br>
          入社までに計画的に研修を行ってください。
        </div>
        <br>
      </div>
    </div>
  </div>
</div>

<div class="box2">
  <div class="portfolio-title">Step 2</div>
  <div class="portfolio-border"></div>
  <div class="portfolio-text">
    <div class="leftbar">
      <div class="image-box2"></div>
    </div>
    <div class="rightbar">
      <div class="">                <br>
        <div class="vision-title">
          <strong>セクションから動画を選びます</strong>
        </div>
        <div class="vision-text">

          <br>
          セクションごとにレクチャー動画が表示されるので選択します。
          <br>
          <br>
          レクチャーページに行き動画を視聴してください。<br>
          視聴後には必ずチェックを入れてください。<br>
          ※完了の確認が取れないため<br>
          <br>
          <br>
          もう一度見たいと思うものにはあえてチェックを入れなくても大丈夫です。
          </div>
          <br>
      </div>
    </div>
  </div>
</div>

<div class="box1">
  <div class="portfolio-title">Step 3</div>
  <div class="portfolio-border"></div>
  <div class="portfolio-text">
    <div class="leftbar">
      <div class="image-box3"></div>
    </div>
    <div class="rightbar">
      <div class="">                <br>
        <div class="vision-title">
          <strong>テストを行う</strong>
        </div>
        <div class="vision-text">

          <br>
          セクションによってはテストがあります。
          <br>
          <br>
          テストを行い確認を習熟度の確認をしてください。<br>
          まだまだ足りないところ<br>
          できるようになったところ
          <br>
          <br>
          繰り返しテストを行って確認していきましょう。
          </div>
          <br>
      </div>
    </div>
  </div>
</div>



