<% if @section.errors.any? %>

  <div id = "error_explanation">
    <div class="alert alert-danger">
      <%= @section.errors.count %>　件のエラーがあります。
    </div>
    <ul>
      <% @section.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>

<% end %>