<% provide(:title,'Add section')%>
<% provide(:button_text,"セクションを追加する")%>
<% provide(:admin_path,admin_sections_path)%>

<h3>セクション登録</h3>

<div class="line"></div>

<div>
  選択しているコースID：<%= params[:course_id] %>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'admin/sections/form' %>
  </div>
</div>