<% if yield(:form).errors.any? %>

  <div id = "error_explanation">
    <div class="alert alert-danger">
      <%= yield(:form).errors.count %>　件のエラーがあります。
    </div>
    <ul>
      <% yield(:form).errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>

<% end %>