<% provide(:title, "Edit course")%>
<% provide(:button_text, "コース情報を更新する")%>


<div class="row">
  <div class="col-md-8">
    <h3>コース情報を更新する。</h3>
  </div>
  <div class="col-md-4">
    <% if current_user.admin? %>
        <%= link_to "削除する",@course, method: :delete,
                                      data: { confirm: "本当に削除しますか？" },class: "btn btn-danger" %>
    <% end %>
  </div>
</div>

<div class="line"></div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'form' %>
  </div>
</div>
