@import "bootstrap-sprockets";
@import "bootstrap";

/*----------全体---------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;}

h3, strong{
 font-family: "M PLUS Rounded 1c" !important;
}

strong{
  font-size:16px;
}

li{
  list-style: none;
}

/*@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}*/

.space {
  padding:15px 0;
}

body{
  padding-top:50px;
  z-index:1;
}


.flex{
  display: flex;
  justify-content:space-between;
  flex-flow:row wrap;
}

.header-name{
  padding:15px;
  font-size:14px;
}

.line{
  padding-top: 15px;
  margin-bottom: 15px;
  border-bottom:solid 3px darkgray;
}

.line-thin{
  padding-top: 15px;
  margin-bottom: 15px;
  border-bottom:solid 1px darkgray;
}

h1{
  margin:0 auto;
}

.right{
  float:right;
  margin:0 auto;
}

.center{
  text-align:center;
}

.btn{
  padding:2px 10px;
}

.col-md-2{
  text-align:center;
}

.panel-title{
  font-size:18px;
}

.lightpink{
  background-color:#FFEEFF;
}

.mini-image{
  border-radius:50px;
}

.breadcrumb{
  margin:0;
}

.pagination{
  margin:0;
}

.dot{
  margin:0 5px;
  color:gray;
}

.caution{
  color:lightgray;
}

.ness{
  color:red;
}

/*-------アコーディオン------*/
.panel-heading{
  padding:5px 15px !important;
}

.panel-title{
  line-height:25px !important;
}

td{
  font-size:18px;
}


/*-------- course --------*/

/*個々の要素（card）にマージンを左右に設定し、外枠(card-wrap)のマージンをマイナスで設定して調整するかんじです*/

.card-wrap {
  display: flex;
  justify-content:flex-start;
  flex-flow:row wrap;
  margin: 0 -10px;
}


.card{
  margin: 0 11px;
  margin-bottom: 20px;
  border-radius: 3px;
  width:210px;
  height:300px;
  background-size: cover;
  background-position: center;
  background-color: #F8F8FF;
}



.card-body{
  padding:11px ;
  height:150px;
  position:relative;
}

.card-text{
  border-bottom: solid 3px #ECEff1;
}

.card-introduce > p{
  font-size:5px;
  line-height:10px;
  color: green;
}

.nav > admin-hover:hover{
  background-color:gray;
}

/*--------section--------*/
.movie{
  margin-left: 0 !important;
  padding-left:0 !important;
}

.lecture-text{
  background-color:#F8F8FF;
  border-radius:3px;
  padding:10px;
}

.section-text{
  padding:5px;
  margin-top:5px;
}

.table-sortable {
  tr.item {
    cursor: row-resize;
  }
}


/*-------- miscellaneous ---------*/

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;

}


input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;

}

input {
  height: auto !important;
}
/*!importantとは最優先で適用するという意味*/


/*---------新規ユーザー登録---------*/
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}


/*---------header---------*/
header {
  background-color:white;
  border-bottom: dashed 1px gray;
}

.header-link{
  color:gray;
}

.admin-header-link{
  color:white;
}

.header-admin{
  background-color:black;
}

.nav{
  padding: 0 20px 0 0 ;
}



#logo {
  float: left;
  font-size: 30px;
  color: #fff;
  letter-spacing: -1px;
  padding: 5px 0;
  font-weight: bold;
  &:hover {
  color: #fff;
  text-decoration: none;
  }
}

.nav > li.admin-li > a:hover{
  background-color:gray;
}

.nav > li.adminnow > a {
  background-color:gray !important;
}
.nav > li.now > a {
  background-color:#EEEEEE !important;
}

/*---------footer---------*/
footer{
	background-color: gray;
	color: white;
    width: 100%;
    height: 50px;
    text-align: center;
	line-height:50px;
}

/*---------HOME---------*/
.topimage {
	height:400px;
  background-image: image-url("top_img.jpg");
    background-size: cover;
    background-position: center;
}

/*---------About---------*/

.box1{
  height:500px;
  background-color:#F8F8FF;
  padding:50px;
}

.box2{
  height:500px;
  background-color:#F5F5F5;
  padding:50px;
}

.image-box1{
  width: 300px;
  height: 300px;
  background-image: image-url("course2.png");
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

.image-box2{
  width: 300px;
  height: 300px;
  background-image: image-url("lecturecheck.png");
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

.image-box3{
  width: 300px;
  height: 300px;
  background-image: image-url("test.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

.portfolio-title{
  text-align: center;
  font-size: 32px;
  padding-bottom: 8px;
}

.portfolio-text{
  height:360px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.portfolio-border{
    margin: 0 auto;
    width: 300px;
  border-bottom:  3px solid  #EC715F;
}

.portfolio-box{
  margin: 30px auto;
}

.leftbar, .rightbar{
    height:360px;
    width:360px;
    padding: 20px 20px;
}

.image-box{
  width: 300px;
  height: 300px;
    background-image: image-url("ticket.jpg");
  background-size: cover;
    background-position: center;
    border-radius: 50%;
}

.vision-title{
  text-aline:center;
  border-bottom:solid 1px gray;
}

.vision-text{
  font-family: "M PLUS Rounded 1c";
}



