@import "bootstrap-sprockets";
@import "bootstrap";

/*----------全体---------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;}

header > a {
  color:white;
  text-decoration:none;
}

li{
  list-style: none;
}

/*@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}*/

.space {
  padding:15px 0;
}


.flex{
  display: flex;
  justify-content:flex-start;
  flex-flow:row wrap;
}

.header-name{
  padding:15px;
  font-size:14px;
}


.line{
  padding-top: 15px;
  margin-bottom: 15px;
  border-bottom:solid 5px darkgray;
}

.line-thin{
  padding-top: 15px;
  margin-bottom: 15px;
  border-bottom:solid 1px darkgray;
}

h1{
  margin:0 auto;
}

.right{
  float:right;
}

.center{
  text-align:center;
}

.btn{
  padding:2px;
}

.col-md-2{
  text-align:center;
}

.panel-title{
  font-size:18px;
}

.lightpink{
  background-color:#FFEEFF;
}

.mini-image{
  border-radius:50px;
}

/*-------- course --------*/

/*個々の要素（card）にマージンを左右に設定し、外枠(card-wrap)のマージンをマイナスで設定して調整するかんじです*/

.card-wrap {
  display: flex;
  justify-content:flex-start;
  flex-flow:row wrap;
  margin: 0 -10px;
}


.card{
margin: 0 11px;
  margin-bottom: 20px;
  border-radius: 3px;
  width:210px;
  height:300px;
  background-size: cover;
  background-position: center;
  background-color: #EEFFFF;
}



.card-body{
  padding:11px ;
  height:150px;
  position:relative;
}

.card-text{
  border-bottom: solid 3px #ECEff1;
}

.card-introduce > p{
  font-size:5px;
  line-height:10px;
  color: green;
}


/*--------section--------*/
.movie{
  margin: 30px;
  height:400px;
  width:600px;
  background-color:skyblue;
  position:center;
}

.lecture-text{
  background-color:#F8F8FF;
  border-radius:3px;
  padding:5px;
  margin-top:5px;
}

.section-text{
  padding:5px;
  margin-top:5px;
}



/*-------- miscellaneous ---------*/

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;

}


input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;

}

input {
  height: auto !important;
}
/*!importantとは最優先で適用するという意味*/


/*---------新規ユーザー登録---------*/
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}


/*---------header---------*/
header {
  background-color:#1E90FF;
}

header.Admin::SessionController{
  background-color: green;
}


.header-admin{
  background-color:#99CC99;
}

.nav{
  padding: 0 10px 0 20px ;
}

#logo {
  float: left;
  font-size: 30px;
  color: #fff;
  letter-spacing: -1px;
  padding: 5px 0;
  font-weight: bold;
  &:hover {
  color: #fff;
  text-decoration: none;
  }
}


/*---------footer---------*/
footer{
	background-color: gray;
	color: white;
    width: 100%;
    height: 50px;
    text-align: center;
	line-height:50px;
}

/*---------HOME---------*/
.topimage {
	height:400px;
  background-image: image-url("top_img.jpg");
    background-size: cover;
    background-position: center;
}

/*---------About---------*/
.howto{
	height:500px;
	background-color: pink;
}